# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# VS Code
.vscode/
*.code-workspace

# Streamlit ja lokit
.streamlit/
streamlit.out
nohup.out
*.log

# Käyttöjärjestelmäkohtaiset
.DS_Store
Thumbs.db

# Väliaikaiset tiedostot
*.tmp
*.bak
*.swp

# Logs
logs/
*.log