streamlit>=1.37
pandas>=2.2
numpy>=1.26
matplotlib>=3.9
plotly>=5.24
requests>=2.32
openpyxl>=3.1
pytz>=2024.1
beautifulsoup4>=4.12
lxml>=5.2
python-dotenv
homeassistant>=2024.6.0
phue>=1.1
streamlit-authenticator>=0.11.0
Pillow>=10.0
streamlit-extras>=0.10.3
streamlit-chat>=0.0.9
streamlit-aggrid>=0.9.0
streamlit-option-menu>=0.6.2
streamlit-tags>=0.10.0
validators>=0.20.0
streamlit-lottie>=0.0.6
streamlit-ace>=0.1.10
markdown-it-py>=3.0.0
mdurl>=0.1.2
PyYAML>=6.0
typing-extensions>=4.11.0
packaging>=24.0
gitpython>=3.1.36
semver>=3.0.0
watchdog>=3.0.0
streamlit-tree-select>=0.5.0
streamlit-webrtc>=0.44.0
av==0.15.1
aiortc==1.4.3
cffi>=1.15.1
cryptography>=41.0.3
numpy>=1.26.4
PyAV==11.0.0
